<!-- views/partials/header.ejs -->
<header>
    <nav>
        <a href="/">FittApp</a>
        <ul>
            <li><a href="/trainings">Trainings</a></li>
            <li><a href="/trainings/new">Add training</a></li>
        </ul>
    </nav>
</header>