<!-- views/partials/header.ejs -->
<header>
    <nav>
        <h1><a href="/" class="fitApp">FittApp</a></h1>
        <ul>
            <li><a href="/trainings">Trainings</a></li>
            <li><a href="/trainings/new">Add training</a></li>
        </ul>
    </nav>
</header>